*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
font-size: 16px;
}

body{
    font-family: 'Playfair Display', serif;
}
section{
    padding:150px 0px;
}

section h2.section-heading{
font-size: 3.5rem;
margin-top: 0;
margin-bottom: 0.9875rem;
position: relative;
}

section h2.section-heading::after{
position: absolute;
content: '';
height: 3px;
margin: 0 auto;
left: 0;
right: 0;
width: 10%;
background-color: blue;
border-radius: 50%;
bottom: -10px;
transition: 1s ease;

}

section h2.section-heading:hover:after {
width: 20%;
border-radius: 0%;
}

section h3.section-subheading{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 6rem;
    text-transform: none;
    font-family: inherit;
    margin-top: 1.75rem;
}

/*Navigation*/
.navbar-brand{
    margin: 0px 20px 0px 20px;
    font-family: 'Island Moments', cursive;
    font-size: 40px;
}
.navbar-nav{
    margin-left: auto;
}

.navbar-nav li {
    padding:10px 14px;
}


/*Navigation*/

/*Header*/
.header{
    background-image: url('/assets/img/background.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-attachment: scroll;
    height: 100vh;
    text-align: center;
}
.header .header__cta{
    padding-top: 300px;
    padding-bottom: 200px;
}

.cta__heading{
    margin-bottom: 1rem;
    line-height: 4rem;
}
.header__cta--text{
    font-size: 2rem;
   

}

.header__cta--text span
{
text-align: right !important;
}

.header__cta--heading{
    font-size: 5rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
.header__cta a {
    font-family: 'Lato';
    padding: 1.1rem;
}
/*Header*/

/*Showcase*/
#showcase .showcase-img{
min-height: 30rem;
background-size: cover;
}

#showcase .showcase-text{
    padding: 7rem;
}

/*Showcase*/