*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
font-size: 16px;
}

body{
    font-family: 'Playfair Display', serif;
}
section{
    padding:150px 0px;
}

section h2.section-heading{
font-size: 3.5rem;
margin-top: 0;
margin-bottom: 0.9875rem;
position: relative;
}

section h2.section-heading::after{
position: absolute;
content: '';
height: 3px;
margin: 0 auto;
left: 0;
right: 0;
width: 10%;
background-color: blue;
border-radius: 50%;
bottom: -10px;
transition: 1s ease;

}

section h2.section-heading:hover:after {
width: 20%;
border-radius: 0%;
}

section h3.section-subheading{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 6rem;
    text-transform: none;
    font-family: inherit;
    margin-top: 1.75rem;
}

/*Navigation*/
.navbar-brand{
    margin: 0px 20px 0px 20px;
    font-family: 'Island Moments', cursive;
    font-size: 40px;
}
.navbar-nav{
    margin-left: auto;
}

.navbar-nav li {
    padding:10px 14px;
}


/*Navigation*/

/*Header*/
.header{
    background-image: url('/assets/img/background.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-attachment: scroll;
    height: 100vh;
    text-align: center;
}
.header .header__cta{
    padding-top: 300px;
    padding-bottom: 200px;
}

.cta__heading{
    margin-bottom: 1rem;
    line-height: 4rem;
}
.header__cta--text{
    font-size: 2rem;
   

}

.header__cta--text span
{
text-align: right !important;
}

.header__cta--heading{
    font-size: 5rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
.header__cta a {
    font-family: 'Lato';
    padding: 1.1rem;
}
/*Header*/

/*Showcase*/
#showcase{
    padding: 0 0 0 0;
}
#showcase .showcase-img{
min-height: 30rem;
background-size: cover;
}

#showcase .showcase-text{
    padding: 7rem;
}

/*Showcase*/

/*Services*/
#services{
    background-color: #e9ebed;
   
}
/*Services*/

/*Footer*/
.footer{
    background-color: #222831;
    color:white;
    padding: 75px 0 40px 0;
    text-align: center;
}
.footer a {
    margin: 5px 0;
color: white;
text-decoration: none;
}

.footer-col{
margin-bottom: 30px;
}

.footer__contact h4{
     margin-bottom: 20px;
     font-weight: 600;

}
.footer__list{
    display: flex;
    flex-direction: column;
}

.footer__list a, .footer__detail a{
margin: 5px 0;
color: white;
text-decoration: none;
}

.footer__info{
text-align: center;
margin-top: 25px;
}
/*Footer*/


/*Contact*/
#contact{
    background-color: #f6f6f6;
    padding-bottom: 100px;
    padding-top: 30px !important;
}

  .contact-header__cta{
    padding-top: 7rem;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

@media screen and (min-width:576px) {
    #contact .block-heading{
        padding-top: 80px;

    }
}


#contact .block-heading{
    padding-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.text-info{
    margin-bottom: 1.2rem;
    
}

#contact form{
    border-top: 2px solid #5ea4f3;
    background-color: white;
    max-width: 500px;
    margin: auto;
    padding: 40px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.75);
}
/*Contact*/

/*Collapsible*/
.accordion-box{
    width:350px;
    margin: auto;
}
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .accordion-active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .accordion-active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }